.body{
  background-color: #C0FFEE
}

.textbox {
  opacity: 0.7;
  font-size: 1.5em;
  text-align: center;
  color:white;
}

.display-text {
  text-align: center;
  font-family: 'Barrio', cursive;
  font-size: 2em;
}

.inputbox {
  width:30%;
}

#clock {
  font-size: 400px;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

#time {
  font-size: 50px;
  color: #222222;
}

a {
    text-decoration: none;
    color: white;
}
